@mixin circle($width) {
    width: $width;
    height: $width;
    -webkit-border-radius: $width/2;
    -moz-border-radius: $width/2;
    border-radius: $width/2;
    -moz-background-clip: border;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

@mixin fade-in {
    -webkit-animation: fade-in 3s ease-out  infinite;
    animation: fade-in 3s ease-out infinite;
}

@mixin anchor {
    text-decoration: none;
    color: $color-green;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shape-grid-template {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.8fr;
}

@mixin transition ($property) {
    transition: $property 0.4s ease;
}




