// colors

$color-black: #161616;
$color-grey: #282727;
$color-lightGrey: #454343;
$color-yellow: #d7e9a1;
$color-blue: #270082;
$color-lightBlue: #2f0398;
$color-purple:#7A0BC0;
$color-orange: #C84B31;
$color-lightOrange: #e38875;
$color-darkerPink: #D22779;
$color-beige: #FAEEE7;
$color-green: #24A19C;
$color-darkGreen: #346751;