@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Major+Mono+Display&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-block-start: 4rem;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Major Mono Display', monospace;
}

p {
  font-size: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #161616;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
}

nav ul li a {
  color: #FAEEE7;
}

nav ul li a:hover {
  color: #24A19C;
}

nav a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #24A19C;
}

nav a:hover {
  font-weight: bold;
  color: #FAEEE7;
}

main {
  display: -ms-grid;
  display: grid;
  margin-top: 5rem;
      grid-template-areas: "sec-1" "sec-2" "sec-3" "sec-4";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 1fr 0.5fr 1fr;
      grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  gap: 1rem;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  80% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  80% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.sec-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sec-1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header bg-1";
  -ms-grid-rows: 0.5fr;
      grid-template-rows: 0.5fr;
  -ms-grid-columns: minmax(0 50%) minmax(0 50%);
      grid-template-columns: minmax(0 50%) minmax(0 50%);
  background-color: #282727;
  gap: 1rem;
}

.sec-1 .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #454343;
  padding: 4rem;
}

.sec-1 .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-1 .header_container h1 {
  font-size: 4vw;
  color: #FAEEE7;
}

.sec-1 .header_container a {
  text-decoration: none;
  font-size: 2.5vw;
  margin-top: 6rem;
  color: #24A19C;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.4rem;
  border-radius: .8rem;
}

.sec-1 .header_container a:hover {
  -webkit-animation: grow 1.5s linear 1;
          animation: grow 1.5s linear 1;
}

.header_right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bg-1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "shape1" "shape2" "shape3" "shape4" "shape5" "shape6";
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 4rem;
}

.header_right .shape1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: shape1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two three four five six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.header_right .shape2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: shape2;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". two three four five six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.header_right .shape3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: shape3;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . three four five six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.header_right .shape4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: shape4;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . four five six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.header_right .shape5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: shape5;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . five six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.header_right .shape6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: shape6;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . . six";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 0.8fr;
      grid-template-rows: 0.8fr;
}

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    border: 0.1rem solid #FAEEE7;
    background-color: transparent;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    border: 0.1rem solid #454343;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    border: 0.1rem solid #24A19C;
    background-color: transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    border: 0.1rem solid #FAEEE7;
    background-color: transparent;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    border: 0.1rem solid #454343;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    border: 0.1rem solid #24A19C;
    background-color: transparent;
  }
}

.header_right .circle {
  width: 9rem;
  height: 9rem;
  border-radius: 4.5rem;
  background-clip: border-box;
  -webkit-animation: fade-in 3s ease-out  infinite;
  animation: fade-in 3s ease-out infinite;
}

.sec-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sec-2;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "side_container about" "skills about";
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
}

.side_container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: side_container;
  background-color: #FAEEE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.side_container .img_container img {
  width: 20rem;
  border-radius: 50%;
  margin: 0 2rem;
  -webkit-box-shadow: -1px -1px 4px #FAEEE7, 1px 1px 4px #FAEEE7;
          box-shadow: -1px -1px 4px #FAEEE7, 1px 1px 4px #FAEEE7;
}

.side_container .intro h3 {
  color: #282727;
  font-size: 3.5rem;
}

.about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background-color: #282727;
}

.about h2 {
  font-size: 4rem;
  padding: 2rem 0;
  color: #24A19C;
}

.about p {
  margin: 2rem 0;
  color: #FAEEE7;
}

.skills {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: skills;
  padding: 2rem;
  background-color: #454343;
}

.skills h3 {
  text-align: center;
  font-size: 3.2rem;
  padding: 2rem;
  color: #24A19C;
}

.skills .skills_container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "skill1" "skill2" "skill3" "skill4";
  -ms-grid-columns: (18rem)[4];
      grid-template-columns: repeat(4, 18rem);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.skills .skills_container .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: #FAEEE7;
}

.skills .skills_container .skill h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
}

.skills .skills_container .skill i {
  font-size: 6rem;
  font-weight: 200;
}

.skills .skills_container .skill .star i {
  font-size: 2.5rem;
  font-weight: 200;
}

.sec-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sec-3;
  background-color: #282727;
}

.sec-3 h2 {
  font-size: 4rem;
  padding: 2rem 0;
  color: #FAEEE7;
  text-align: center;
}

.projects_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33% - 4rem);
  margin: 1rem;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.projects:hover .click_here {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #161616;
  border-radius: 0.8rem;
  z-index: 200;
}

.project_container:hover {
  position: relative;
}

.project_container:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(grey));
  background-image: linear-gradient(to bottom right, grey);
  border-radius: 0.5rem;
  opacity: 0.5;
}

.project_container img {
  width: 100%;
  border-radius: 0.5rem;
}

.click_here {
  display: none;
}

.click_here a {
  font-size: 2rem;
  text-decoration: none;
  color: #FAEEE7;
  margin: 1rem;
  display: inline-block;
  text-align: center;
}

.sec-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sec-4;
  background-color: #FAEEE7;
}

.sec-4 h2 {
  font-size: 4rem;
  padding: 2rem 0;
  color: #C84B31;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 1.5rem auto;
  font-size: 2rem;
  background-color: #e38875;
  border-radius: 1rem;
}

form .data_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

input {
  padding: 0.8rem 4rem;
  border-radius: 0.8rem;
}

input[type="submit"] {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 0;
  font-size: 1.8rem;
  background-color: #FAEEE7;
  color: #161616;
}

input[type="submit"]:hover {
  color: #FAEEE7;
  background-color: #161616;
}

input:focus, textarea:focus {
  border: 2px solid #C84B31;
  outline-style: solid;
  outline-color: #C84B31;
}

textarea {
  border-radius: 0.8rem;
  padding: 1rem;
}

label {
  margin-top: 1rem;
  font-weight: 500;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  background-color: #161616;
  color: #FAEEE7;
}

footer p {
  font-size: 1.4rem;
}

.social-links a {
  font-size: 3.5rem;
  margin: 1.2rem;
  color: #FAEEE7;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
    scroll-padding-block-start: 18rem;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "sec-1" "sec-2" "sec-3" "sec-4";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.25fr 0.75fr 1fr 0.5fr;
        grid-template-rows: 0.25fr 0.75fr 1fr 0.5fr;
    gap: 1rem;
    margin-top: 16rem;
  }
  .sec-1 {
        grid-template-areas: "header";
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .header_right {
    display: none;
  }
  .header_container {
    padding: 2rem;
  }
  .header_container h1 {
    font-size: 8vw;
    color: #FAEEE7;
    -webkit-animation: colorful 3s linear 1;
            animation: colorful 3s linear 1;
  }
  @-webkit-keyframes grow {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    20% {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    50% {
      -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5);
    }
    80% {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes grow {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    20% {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    50% {
      -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5);
    }
    80% {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @-webkit-keyframes colorful {
    0% {
      color: #FAEEE7;
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2);
    }
    25% {
      color: #24A19C;
      opacity: 0.3;
    }
    50% {
      color: #C84B31;
      opacity: 0.5;
    }
    75% {
      color: #C84B31;
      opacity: 0.7;
    }
    100% {
      color: #FAEEE7;
      opacity: 1;
    }
  }
  @keyframes colorful {
    0% {
      color: #FAEEE7;
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2);
    }
    25% {
      color: #24A19C;
      opacity: 0.3;
    }
    50% {
      color: #C84B31;
      opacity: 0.5;
    }
    75% {
      color: #C84B31;
      opacity: 0.7;
    }
    100% {
      color: #FAEEE7;
      opacity: 1;
    }
  }
  .sec-2 {
        grid-template-areas: "side_container"  "about" "skills";
    -ms-grid-rows: 0.5fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills_container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .projects {
    width: 100%;
  }
  .click_here a {
    font-size: 4rem;
  }
  form {
    width: 90%;
  }
  form .data_container {
    width: 90%;
  }
  input[type="submit"] {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 40%;
  }
}
/*# sourceMappingURL=style.css.map */