@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Major+Mono+Display&display=swap');

@import './resets';
@import './variables';
@import './mixins';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-block-start: 4rem;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
 
}

h1, h2, h3, h4, h5 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-size: 2rem;
    font-weight: 100;
}

// Navbar styling

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-out;
    &:hover {
        opacity: 0.7;
    }
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .menu {
        background-color: $color-black;
    }
    .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }
    .hamburger {
        @include flex-center; 
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 6rem;
        height: 6rem;
        padding: 1rem;
    }
}

// hamburger line (middle)

.menu-wrap .hamburger > div {
    @include flex-center;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $color-yellow;
    transition: all 0.4s ease-in;
    &::before, &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -1rem;
        width: 100%;
        height: 0.2rem;
        background: inherit;
    }
    &::after {
        top: 1rem;
    }
}

// toggler animate 

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

// turn line into X 

.menu-wrap .toggler:checked + .hamburger > div::before, 
.menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

// rotate on hover when checked 
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

// show menu 

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: $menu-speed;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    @include transition(opacity);
}

.menu-wrap .menu {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    visibility: hidden;
    overflow: hidden;
}

.menu-wrap .menu > div {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    flex: none;
    transform: scale(0);
    @include transition(all);
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90%;
    max-height: 100%;
    @include transition(opacity);
}


.menu-wrap .menu > div > div ul li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
    line-height: 1.5rem;
}

.menu-wrap .menu > div > div ul li a {
    color: $color-yellow;;
    text-decoration: none;
    @include transition(color);
    &:hover {
        color: $color-green;
    }
}

#home {
    color: $color-green;
    &:hover {
        color: $color-yellow;
    }
}

// Main layout

main {
    display: grid;
    grid-template-areas: "sec-1"
                         "sec-2"
                         "sec-3"
                         "sec-4";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.25fr;
    gap: 1rem;
}

// sec-1 styling

.sec-1 {
    grid-area: sec-1;
    display: grid;
    grid-template-areas: "header bg-1";
    grid-template-rows: 0.5fr;
    grid-template-columns: minmax(0 50%) minmax(0 50%);
    background-color: $color-grey;
    gap: 1rem;
    .header {
        grid-area: header;
        @include flex-center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $color-lightGrey;
        padding: $padding-container;
    }
    .header_container {
        display: flex;
        flex-direction: column;
        & h1 {
            font-size: $h1-size;
            color: $color-yellow;
        }
        & a {
            text-decoration: none;
            font-size: 2.5vw;
            margin-top: 6rem;
            color: $color-green;
            width: fit-content;
            padding: 1rem 0;
        }
        & a:hover {
            transition: border 0.5s linear;
            border-top: 0.1rem solid $color-green;
        }
    }
}

.header_right {
    grid-area: bg-1;
    display: grid;
    grid-template-areas: "shape1"
                         "shape2"
                         "shape3"
                         "shape4"
                         "shape5"
                         "shape6";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 100%;
    padding: $padding-container;
    & .shape1 {
        @include shape-grid-template;
        grid-area: shape1;
        grid-template-areas: "one two three four five six";
    }
    & .shape2 {
        @include shape-grid-template;
        grid-area: shape2;
        grid-template-areas: ". two three four five six";
    }
    & .shape3 {
        @include shape-grid-template;
        grid-area: shape3;
        grid-template-areas: ". . three four five six";
    }
    & .shape4 {
        @include shape-grid-template;
        grid-area: shape4;
        grid-template-areas: ". . . four five six";
    }
    & .shape5 {
        @include shape-grid-template;
        grid-area: shape5;
        grid-template-areas: ". . . . five six";
    }
    & .shape6 {
        @include shape-grid-template;
        grid-area: shape6;
        grid-template-areas: ". . . . . six";
    }
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        border: 0.1rem solid $color-yellow;
        background-color: transparent;
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
        border: 0.1rem solid $color-yellow;
        background-color: transparent;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        border: 0.1rem solid $color-green;
        background-color: transparent;
    }
}

.header_right .circle {
    @include circle(9rem);
    @include fade-in;
}

// sec-2 styling

.sec-2 {
    grid-area: sec-2;
    display: grid;
    grid-template-areas: "side_container about"
                         "skills about";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
}

// side_container styling 

.side_container {
    grid-area: side_container;
    background-color: $color-grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $padding-container;
    .img_container img {
        width: 20rem;
        border-radius: 50%;
        margin: 0 2rem;
    }
    
    .intro h3 {
        color: $color-yellow;
        font-size: 3.5rem;
    }
}

// about me styling

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    padding: $sm-padding-container;
    background-color: $color-grey;
    h2 {
        font-size: $h2-size;
        padding: 2rem 0;
        color: $color-green;
    }
    h3 {
        font-size: $h3-size;
        color: $color-green;
    }
    p {
        margin: 2rem 0;
        color: $color-yellow;
    }
}

// skills styling

.skills {
    grid-area: skills;
    padding: $sm-padding-container;
    background-color: $color-yellow;
    h3 {
        text-align: center;
        font-size: $h3-size;
        padding: 2rem;
        color: $color-grey;
    }
    .skills_container {
        display: grid;
        place-items: center;
        grid-template-areas: "skill1 skill2 skill3 skill4"
                             "skill5 skill6 skill7 skill8";
        grid-template-columns: repeat(4, 18rem);
        grid-template-rows: repeat(2, 0.5fr);
        .skill {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            text-align: center;
            color: $color-grey;
            h4 {
                font-family: 'IBM Plex Mono', monospace;
                font-weight: 300;
           }
           i {
            font-size: 4rem;
            font-weight: 200;
           }
           .star i {
            font-size: 2rem;
           }
        }
    }
}

// sec-3 styling

.sec-3 {
    grid-area: sec-3;
    background-color: $color-grey;
    h2 {
        font-size: $h2-size;
        margin-top: 4rem;
        padding: 2rem 0;
        color: $color-yellow;
        text-align: center;
    }
    .project_list a {
        @include anchor;
        color: $color-yellow;
        font-size: 2rem;
        display: block;
        text-align: center;
        font-weight: 100;
        padding: 0.8rem 1.5rem;
        border: 1px solid $color-green;
        width: fit-content;
        margin: 2rem auto;
        border-radius: $border-radius;
        &:hover {
            background-color: $color-lightGrey;
        }
    }
}

.projects_wrapper {
    @include flex-center;
    margin: $margin-container;
}

.projects {
    display: flex;
    flex-direction: column;
    width: calc(33% - $margin-container);
    margin: 1rem;
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 2;
    .description {
        margin: 1.2rem 0;
        h5 {
            font-size: $h5-size;
            margin: 1.2rem 0;
            color: $color-green;
        }
        p {
            color: $color-yellow;
        }
    }
}
.project_container .click_here {
    display: none;
    a {
        display: none;
    }
}

.project_container:hover .click_here {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $color-black;
    border-radius: $border-radius;
    z-index: 100;
    a {
        color: $color-green;
        font-weight: 100;
        @include anchor;
        margin: 1rem;
        display: inline-block;
        text-align: center;
        font-size: 2rem;

    }
}

.project_container:hover {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background-image: linear-gradient(to bottom right, grey);
        border-radius: $border-radius;
        opacity: 0.5;
    }
}

.project_container img {
    width: 100%;
    border-radius: $border-radius;
}



// sec-4 styling

.sec-4 {
    grid-area: sec-4;
    background-color: $color-lightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h2 {
        font-size: 4rem;
        padding: 2rem 0;
        color: $color-green;
    }
    p {
        color: $color-yellow;
        text-align: center;
        margin: 1rem;
    }
    a {
        text-decoration: none;
        color: $color-green;
        padding: 0.8rem 1.5rem;
        font-size: 2rem;
        margin: 2rem;
        border: 1px solid $color-yellow;
        border-radius: 0.3rem;
        &:hover {
            background-color: $color-grey;
        }
    }
}

.social-links a {
    font-size: 3.5rem;
    color: $color-yellow;
    border: none;
    &:hover {
        background: transparent;
    }
}

// Footer section styling

footer {
    @include flex-center;
    flex-direction: column;
    padding: 2rem;
    background-color: $color-black;
    color: $color-beige;
    p {
        font-size: 1.4rem;
    }
}

// tablet version

@media screen and (max-width: 800px) {
    html {
        font-size: 50%;
        scroll-padding-block-start: 8rem;
    }
    
    // main layout

    main {
        display: grid;
        grid-template-areas: 
                             "sec-2"
                             "sec-3"
                             "sec-4";
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 1fr 0.2fr;
        gap: 1rem;
    }
    
    
    //  sec-1 styling 

    .sec-1 {
        display: none;
    }
    
    .sec-2 {
        grid-template-areas: "side_container" 
                             "about"
                             "skills";
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-columns: 1fr;
    }
    
    .skills_container {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
    }

// sec-3 styling

    .projects_wrapper {
        flex-direction: column;
        position: relative;
    }

    .projects {
        width: 100%;
    }

    .click_here a {
        font-size: 4rem;
    }

}

@media screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }
}


