@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Major+Mono+Display&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-black: #161616;
$color-grey: #282727;
$color-lightGrey: #454343;
$color-blue: #270082;
$color-lightBlue: #2f0398;
$color-purple:#7A0BC0;
$color-orange: #C84B31;
$color-lightOrange: #e38875;
$color-darkerPink: #D22779;
$color-beige: #FAEEE7;
$color-green: #24A19C;
$color-darkGreen: #346751;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-block-start: 4rem;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
 
}

h1, h2, h3, h4 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-size: 2rem;
}

// Nav-Section Styling

nav {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: $color-black;
    ul {
        display: inline-flex;
        list-style-type: none;
        li a {
            color: $color-beige;
            &:hover {
                color: $color-orange;
            } 
        }
    }
    a {
        text-decoration: none;
        font-size: 2.5rem;
        padding: 1rem 2rem;
        color: $color-orange;
        &:hover {
            font-weight: bold;
            color: $color-beige;
        }
    }
}

// main layout

main {
    display: grid;
    margin-top: 5rem;
    grid-template-areas: "sec-1"
                         "sec-2"
                         "sec-3"
                         "sec-4";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    gap: 1rem;
}

// 1 Section layout 

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }
    20% {
        transform: scale(0.8, 0.8);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    80% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

.sec-1 {
    grid-area: sec-1;
    display: grid;
    grid-template-areas: "header bg-1";
    grid-template-rows: 0.5fr;
    grid-template-columns: minmax(0 50%) minmax(0 50%);
    background-color: $color-grey;
    gap: 1rem;
    .header {
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-lightGrey;
        padding: 4rem;
    }
    .header_container {
        display: flex;
        flex-direction: column;
        & h1 {
            font-size: 4vw;
            color: $color-beige;
        }
        & a {
            text-decoration: none;
            font-size: 1.8vw;
            margin-top: 6rem;
            color: $color-orange;
            background-color: $color-beige;
            width: fit-content;
            padding: 1rem 1.4rem;
            border-radius: .8rem;
            box-shadow: -1px -1px 5px $color-orange, 1px 1px 5px $color-orange;
        }
        & a:hover {
            animation: grow 1.5s linear 1;
        }
    }
}

.bg-1 {
    grid-area: bg-1;
    display: grid;
    grid-template-areas: "shape1"
                         "shape2"
                         "shape3"
                         "shape4"
                         "shape5"
                         "shape6";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 100%;
    padding: 4rem;
    & .shape1 {
        grid-area: shape1;
        display: grid;
        grid-template-areas: "one two three four five six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
    & .shape2 {
        grid-area: shape2;
        display: grid;
        grid-template-areas: ". two three four five six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
    & .shape3 {
        grid-area: shape3;
        display: grid;
        grid-template-areas: ". . three four five six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
    & .shape4 {
        grid-area: shape4;
        display: grid;
        grid-template-areas: ". . . four five six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
    & .shape5 {
        grid-area: shape5;
        display: grid;
        grid-template-areas: ". . . . five six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
    & .shape6 {
        grid-area: shape6;
        display: grid;
        grid-template-areas: ". . . . . six";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.8fr;
    }
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin circle($width) {
    width: $width;
    height: $width;
    -webkit-border-radius: $width/2;
    -moz-border-radius: $width/2;
    border-radius: $width/2;
    -moz-background-clip: border;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        background-color: $color-beige;
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
        background-color: $color-lightGrey;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        background: $color-green;
    }
}

@mixin fade-in {
    -webkit-animation: fade-in 3s ease-out  infinite;
    animation: fade-in 3s ease-out infinite;
}

.bg-1 .circle {
    @include circle(9rem);
    @include fade-in;
}

// Skills section

.sec-2 {
    grid-area: sec-2;
    display: grid;
    grid-template-areas: "side_container about"
                         "skills about";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
}

// side_container styling 

.side_container {
    grid-area: side_container;
    background-color: $color-green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    .img_container img {
        width: 20rem;
        border-radius: 50%;
        margin: 0 2rem;
    }
    .intro h3 {
        color: $color-black;
        font-size: 3.5rem;
    }
}

// about me styling

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $color-orange;
    h2 {
        font-size: 4rem;
        padding: 2rem 0;
        color: $color-beige;
    }
    p {
        margin: 2rem 0;
        color: $color-black;
    }
}

// skills styling

.skills {
    grid-area: skills;
    padding: 2rem;
    background-color: $color-beige;
    h3 {
        text-align: center;
        font-size: 3.2rem;
        padding: 2rem;
        color: $color-grey;
    }
    .skills_container {
        display: grid;
        grid-template-areas: "skill1" "skill2" "skill3" "skill4";
        grid-template-columns: repeat(4, 18rem);
        grid-template-rows: 1fr;
        .skill {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            padding: 2rem;
            text-align: center;
            color: $color-grey;
            h4 {
                font-family: 'IBM Plex Mono', monospace;
           }
           i {
            font-size: 6rem;
           }
           .star i {
            font-size: 2.5rem;
           }
        }
    }
}

// sec-3 styling

.sec-3 {
    grid-area: sec-3;
    background-color: $color-grey;
    h2 {
        font-size: 4rem;
        padding: 2rem 0;
        color: $color-beige;
        text-align: center;
    }
}

.bg-2 {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
}

.projects {
    display: flex;
    flex-direction: column;
    width: calc(33% - 4rem);
    margin: 1rem;
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 2;
}

.projects:hover .click_here {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $color-black;
    border-radius: 0.8rem;
    z-index: 200;
    
}

.project_container:hover {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background-image: linear-gradient(to bottom right, grey);
        border-radius: 0.5rem;
        opacity: 0.5;
    }
}

.project_container img {
    width: 100%;
    border-radius: 0.5rem;
}

.click_here {
    display: none;
    a {
        font-size: 2rem;
        text-decoration: none;
        color: $color-beige;
        margin: 1rem;
        display: inline-block;
        text-align: center;
    }
}

// Section 4 styling

.sec-4 {
    grid-area: sec-4;
    background-color: $color-beige;
    h2 {
        font-size: 4rem;
        padding: 2rem 0;
        color: $color-green;
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1.5rem auto;
    font-size: 2rem;
    background-color: $color-green;
    border-radius: 1rem;
    .data_container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
}

input {
    padding: 0.8rem 4rem;
    border-radius: 0.8rem;
}

input[type="submit"] {
    width: 50%;
    align-self: center;
    margin: 1rem 0;
    font-size: 1.8rem;
    background-color: $color-beige;
    color: $color-black;
    &:hover {
        color: $color-beige;
        background-color: $color-black;
    }
}

input:focus, textarea:focus {
    border: 2px solid $color-orange;
    outline-style: solid;
    outline-color: $color-orange;
}

textarea {
    border-radius: 0.8rem;
    padding: 1rem; 
}

label {
    margin-top: 1rem;
    font-weight: 500;
}

// Footer section styling

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: $color-black;
    color: $color-beige;
}

.social-links a {
    font-size: 3.5rem;
    margin: 1.2rem;
    &:nth-of-type(1) {
        color: $color-beige;
    }
    &:nth-of-type(2) {
        color: $color-orange;
    }
    &:nth-of-type(3) {
        color: $color-green;
    }
}

// tablet version

@media screen and (max-width: 800px) {
    html {
        font-size: 50%;
        scroll-padding-block-start: 18rem;
    }

        
    // Nav-Section Styling
    
    nav {
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 2rem;
        ul {
            display: flex;
            flex-direction: column;
        }
    }
    
    // main layout

    main {
        display: grid;
        grid-template-areas: "sec-1"
                             "sec-2"
                             "sec-3"
                             "sec-4";
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.75fr 1fr 0.5fr;
        gap: 1rem;
        margin-top: 16rem;
    }
    
    
    // 1 Section layout 
    
    .sec-1 {
        grid-template-areas: "header";
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
    }

    .bg-1 {
        display: none;
    }

    .header_container {
        padding: 2rem;
        h1{
            font-size: 8vw;
            color: $color-beige;
            animation: colorful 3s linear 1;
        }
    }

    @keyframes colorful {
        0% {
            color: $color-beige;
            opacity: 0;
            transform: scale(2);
        }
        25% {
            color: $color-green;
            opacity: 0.3; 
        }
        50% {
            color: $color-orange;
            opacity: 0.5;
        }
        75% {
            color: $color-orange;
            opacity: 0.7;
        }
        100% {
            color: $color-beige;
            opacity: 1;
        }
    }

    // Section 2 styling
    
    .sec-2 {
        grid-template-areas: "side_container" 
                             "about"
                             "skills";
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-columns: 1fr;
    }
    
    .skills_container {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
    }

// sec-3 styling

    .bg-2 {
        flex-direction: column;
        position: relative;
    }

    .projects {
        width: 100%;
    }

    .click_here a {
        font-size: 4rem;
    }

    // Section 4 styling

    form {
        width: 90%;
        .data_container {
            width: 90%;
        }
    }

    input[type="submit"] {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }
}